<section id="mpct">
<!-- 	<div class="mp-contact-header types">
		<div class="container align-center">
			<h1>Contact</h1>
			<p>Presentation of our exclusif spa equipments and cosmetic products from Europe</p>
		</div>
	</div> -->
	<div class="mp-contact-info d-flex f-wrap-r">
		<div class="contact-info-question">
			<h2>Liên hệ với chúng tôi</h2>

			<div class="contact-first-bloc d-flex f-wrap">
				<input class="first-input" type="text" name="first_name" placeholder="Your Name (required)" />
				<input class="second-input" type="email" name="email" placeholder="Your Email (required)" />
			</div>
			<input class="third-input" type="text" name="subject" placeholder="Your Subject (required)" />
			<textarea placeholder="Your Message"></textarea>
			<button>Gởi ngay</button>
		</div>

		<div class="contact-info-address">
			<h2>Contact Info</h2>

			<div class="contact-location d-flex">
				<i class="fa fa-location-arrow"></i>
				<div class="contact-address">
					<p>No: 333, Ngô Xuân Quảng, Gia Lâm, Hà Nội</p>
				</div>
			</div>

			<h2>Đặt hẹn</h2>
			
			<p class="book-text">Quý vị có thể đặt hẹn trực tiếp với chúng tôi qua hotline hoặc bằng dịch vụ gởi mail. </p>

			<div class="mobile-mail d-flex">
				<i class="fa fa-phone"></i>
				<p>Phone: <span>0934 864 690</span></p>
			</div>

<!-- 			<div class="mobile-mail d-flex">
				<i class="fa fa-envelope envelope"></i>
				<p>Email: <span>yourname@mparis-spa.com</span></p>
			</div> -->
		</div>
	</div>

	<div class="mp-contact-map" *ngIf="browser">
		<agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">

		<agm-marker [latitude]="lat" [longitude]="lng">
			<agm-data-layer></agm-data-layer>
		</agm-marker>

		</agm-map>
	</div>
</section>
