<section id="mpab">
	<div class="mp-about-header types">
		<div class="container align-center">
			<h1>M.Paris Global Exclusif</h1>
			<p>Presentation of our exclusif spa equipments and cosmetic products from Europe</p>
		</div>
	</div>

	<div class="mp-about-body-1">
		<h2 class="neoqi d-flex">
			<span>neoQi Spa Equipment </span>
			<div class="rail"></div>
		</h2>

		<div class="mp-about-body-presentation d-flex">
			<div class="about-presentation-product">
				<img src="public/images/neoqi-main-01.jpg" alt="product-picture" />
				<div class="product-info">
					<h3>Features of Ayurveda Spa</h3>

					<ul>
						<li>Fusce nec purus dui, id placerat sem</li>
						<li>Aenean at nunc sem, sit amet tristique nis</li>
						<li>Duis at neque in libero aliquam molestie.</li>
						<li>Combined with a handful of model structures.</li>
						<li>The generated is therefore always free.</li>
					</ul>

					<h3>Price Range</h3>

					<ul class="mp-product-list">
						<li class="d-flex" *ngFor="let item of list1">
							<p>{{ item.name }}</p>
							<span class="item-prices">
								<del>{{ item.old_price | currency:'USD' }}</del>
								$ 20.00
							</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="about-presentation-history">
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It uses a dictionary of It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures.</p>

				<video controls poster="public/images/neoqi-poster-01.jpg">
					<source src="public/videos/neoqi-video-01.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>

	<div class="mp-about-body-2">
		<h2 class="neoqi d-flex">
			<span>neoQi Spa Equipment </span>
			<div class="rail"></div>
		</h2>

		<div class="mp-about-body-presentation d-flex">
			<div class="about-presentation-product">
				<img src="public/images/neoqi-main-01.jpg" alt="product-picture" />
				<div class="product-info">
					<h3>Features of Ayurveda Spa</h3>

					<ul>
						<li>Fusce nec purus dui, id placerat sem</li>
						<li>Aenean at nunc sem, sit amet tristique nis</li>
						<li>Duis at neque in libero aliquam molestie.</li>
						<li>Combined with a handful of model structures.</li>
						<li>The generated is therefore always free.</li>
					</ul>

					<h3>Price Range</h3>

					<ul class="mp-product-list">
						<li class="d-flex" *ngFor="let item of list1">
							<p>{{ item.name }}</p>
							<span class="item-prices">
								<del>{{ item.old_price | currency:'USD' }}</del>
								$ 20.00
							</span>
						</li>
					</ul>
				</div>
			</div>

			<div class="about-presentation-history">
				<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It uses a dictionary of It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures.</p>

				<video controls poster="public/images/neoqi-poster-02.jpg">
					<source src="public/videos/neoqi-video-02.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
</section>