<section id="mpab">
	<div class="mp-about-header types">
		<div class="container align-center">
			<h1>Phân phối độc quyền NeoQi</h1>
			<p>Giới thiệu các sản phẩm của NeoQi - nhà cung cấp thiết bị spa cao cấp từ bắc Âu</p>
		</div>
	</div>

	<div class="mp-about-body-0">
		 
	</div>

	<div class="mp-about-body-1">
		<h2 class="neoqi d-flex">
			<span>NeoQi - Harmony Mediq Luxury Medical spa</span>
			<div class="rail"></div>
		</h2>

		<div class="mp-about-body-presentation d-flex">
			<div class="about-presentation-product app-1">
				<img src="public/images/neoqi-mediq-01.jpg" alt="product-picture" />
				<div class="product-info">
					<h3>Các chức năng</h3>

					<ul>
						<li>Giảm cân</li>
						<li>Giảm cellulite (mỡ dưới lớp da)</li>
						<li>Tăng cường da, căng cơ</li>
						<li>Hồi phục chấn thương, thể chất</li>
						<li>Phòng chống nhiều loại bệnh.</li>
					</ul>

					<!-- <h3>Price Range</h3>

					<ul class="mp-product-list">
						<li class="d-flex" *ngFor="let item of list1">
							<p>{{ item.name }}</p>
							<span class="item-prices">
								<del>{{ item.old_price | currency:'USD' }}</del>
								$ 20.00
							</span>
						</li>
					</ul> -->
				</div>
			</div>

			<div class="about-presentation-history">
				<p>Harmony Mediq là một loại phi thuyền spa sang trọng đa chức năng. Sự đa dạng của các chương trình biến 'kén năng lượng' thành một phức hợp vật lý trị liệu đa dạng và độc đáo. Sự kết hợp giữa công nghệ hydrophusion và hydrotherapy cổ điển với các phương pháp sắc màu và phương pháp liệu pháp thơm nhằm cải thiện sức khỏe nhanh chóng và hiệu quả, phục hồi và thư giãn toàn thân.<br /></p>

				<img class="aph-pictures" src="public/images/neoqi-mediq-02.jpg" alt="product-picture" >

				<p><br />Phi thuyền spa Harmony Mediq là một phương pháp sáng tạo và bao gồm tất cả các biện pháp trị liệu lành mạnh. Các chức năng của phi thuyền được chỉ định để giảm cân, giảm cellulite (mỡ dưới lớp da) và điều trị tăng cường da, cũng như thư giãn sâu, hồi phục chấn thương thể chất và phòng nhiều loại bệnh khác. <br />Nhờ tính linh hoạt của các chức năng được cung cấp, phi thuyền Spa Harmony Mediq phù hợp với các trung tâm spa, thể thao, y tế và phục hồi chức năng.</p>

				<video controls poster="public/images/neoqi-poster-01.jpg">
					<source src="public/videos/neoqi-video-01.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>

	<div class="mp-about-body-2">
		<h2 class="neoqi d-flex">
			<span>neoQi - Elegance Luxury Home Spa</span>
			<div class="rail"></div>
		</h2>

		<div class="mp-about-body-presentation d-flex">
			<div class="about-presentation-product app-2">
				<img src="public/images/neoqi-elegance-01.jpg" alt="product-picture" />
				<div class="product-info">
					<h3>Các chức năng</h3>

					<ul>
						<li>Phục hồi sức khoẻ</li>
						<li>Giảm căng thảng và tăng cường hệ miễn dịch</li>
						<li>Tăng cường lợi ích trên cơ quan cảm giác</li>
						<li>Cải thiện lưu thông máu và các chức năng nội tạng</li>
						<li>Làm chậm quá trình lão hoá</li>
						<li>Bình thường hoá chức năng của hệ thần kinh</li>
						<li>Làm chắc và mềm mại da</li>
					</ul>

					<!-- <h3>Price Range</h3>

					<ul class="mp-product-list">
						<li class="d-flex" *ngFor="let item of list1">
							<p>{{ item.name }}</p>
							<span class="item-prices">
								<del>{{ item.old_price | currency:'USD' }}</del>
								$ 20.00
							</span>
						</li>
					</ul> -->
				</div>
			</div>

			<div class="about-presentation-history">
				<p>Kén năng lượng Elegance được trang bị các chức năng nhiệt và hydrotherapy tốt nhất để khôi phục sức mạnh và năng lượng sau một ngày dài, giảm mức căng thẳng và tăng cường hệ miễn dịch. <br />Phi thuyền này có rất nhiều tác dụng có lợi trên cơ quan cảm giác: nghe, nhìn, ngửi và đụng. Sự kết hợp giữa xông hơi khô hồng ngoại và hơi nước khô, hydro-, thơm và màu sắc có tác động đáng kể đến sức khoẻ, cải thiện lưu thông máu và các chức năng nội tạng, làm chậm quá trình lão hóa, bình thường hóa chức năng của hệ thần kinh, làm cho da mềm mại và chắc.<br /></p>

				<img class="aph-pictures" src="public/images/neoqi-elegance-02.jpg" alt="product-picture" />
				
				<p><br />
					Kén năng lượng Elegance là một giải pháp sáng tạo cho phòng tắm, các trung tâm spa cao cấp và các trung tâm y tế, hồi phục sức khoẻ. Nhờ Spa-Capsule Elegance bạn có thể thưởng thức và thư giãn tại trung tâm Spa MParis và các địa điểm khác trên toàn quốc được MParis cấp phép phân phối.
				</p>

				<video controls poster="public/images/neoqi-poster-02.jpg">
					<source src="public/videos/neoqi-video-02.mp4" type="video/mp4">
				</video>
			</div>
		</div>
	</div>
</section>