<section id="mpabmp">
	<div class="mp-aboutmp-header types">
		<div class="container align-center">
			<h1>About M.Paris Global</h1>
			<p>Presentation of our exclusif spa equipments and cosmetic products from Europe</p>
		</div>
	</div>

	<div class="mp-aboutmp-body d-flex">
		<div class="mp-aboutmp-body-category">
			<span class="fa fa-pagelines"></span>
			<h4>Beauty care</h4>
			<p>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit.</p>
		</div>
		<div class="mp-aboutmp-body-category">
			<span class="fa fa-magic"></span>
			<h4>Spa & Cosmetic</h4>
			<p>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit.</p>
		</div>
		<div class="mp-aboutmp-body-category">
			<span class="fa fa-coffee"></span>
			<h4>Relax & Revive</h4>
			<p>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit.</p>
		</div>
		<div class="mp-aboutmp-body-category">
			<span class="fa fa-gift"></span>
			<h4>Gifts</h4>
			<p>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit.</p>
		</div>
	</div>

	<div class="hr-line"></div>

	<div class="mp-aboutmp-gallery">
		<h2>M.Paris Gallery</h2>

		<div class="gallery-pictures d-flex">
			<div class="picture transition-200"></div>
			<div class="picture transition-200"></div>
			<div class="picture transition-200"></div>
			<div class="picture transition-200"></div>
			<div class="picture transition-200"></div>
			<div class="picture transition-200"></div>
		</div>
	</div>

	<div class="hr-line hr-line-extend"></div>

	<div class="mp-aboutmp-text">
		<h2>Our spalab gives you an extreme level of relaxation</h2>
		<h3>Come experience the real life situations of saving life</h3>
	</div>

	<div class="hr-line1"></div>
</section>