<section id="mpabmp">
	<div class="mp-aboutmp-header types">
		<div class="container align-center">
			<h1>Giới thiệu chung về MParis</h1>
			<p>Trung tâm thẩm mỹ và spa cao cấp</p>
		</div>
	</div>

	<div class="mp-aboutmp-body d-flex">
		<div class="mp-aboutmp-body-category">
			<span class="fa fa-pagelines"></span>
			<h4>Beauty care <br /> - <br />Làm đẹp toàn diện</h4>
			<p>Trung tâm spa MParis có tất cả các dịch vụ làm đẹp như trang điểm, xâm thẩm mỹ, tẩy lông và làm móng với đội ngũ nhân nhiên có chứng chỉ được cấp từ viện thẩm mỹ Catherine Sertin Paris, Pháp</p>
		</div>
		<div class="mp-aboutmp-body-category">
			<span class="fa fa-magic"></span>
			<h4>Spa & Cosmetic <br /> - <br />Thẩm mỹ spa cao</h4>
			<p>Tự hào là viện thẩm mỹ spa cao cấp tiêu chuẩn quốc tế, các loại mỹ phẩm và thiêt bị thẩm mỹ của MParis điều được cung cấp và có chứng chỉ từ Estonia Pháp, Canada.</p>
		</div>
		<div class="mp-aboutmp-body-category">
			<span class="fa fa-coffee"></span>
			<h4>Relax & Revive <br /> - <br />Thư giãn & hồi sức</h4>
			<p>MParis là nhà phân phối độc quyền những thiết bị spa thư giãn phục hồi sức khoẻ công nghệ cao - NeoQi đã có mặt trên 65 nước trên thế giới và -Silhouet-Tone đã có mặt hơn 100 năm trong nghành điều trị da đạt tiêu chuẩn hàng đầu quốc tế.</p>
		</div>
		<div class="mp-aboutmp-body-category">
			<span class="fa fa-gift"></span>
			<h4>Gifts<br /> - <br />Quà tặng - khuyến mãi</h4>
			<p>Đến với MParis, các bạn sẽ được trải nghiệm những giây phút thư giản, không gian sang trọng với những chuyên viên tư vấn được đào tạo chuyên nghiệp, những phần quà mỹ phẩm cao cấp và những khuyến mãi đặ biệt.</p>
		</div>
	</div>

	<div class="hr-line"></div>

	<div class="mp-aboutmp-gallery">
		<h2>M.Paris Gallery</h2>

		<div class="gallery-pictures d-flex">
			<div *ngFor="let oPicture of openingPictures" class="picture transition-200" [ngStyle]="{ 'background-image': 'url(' + oPicture + ')'}">
			</div>
		</div>
	</div>

	<div class="hr-line hr-line-extend"></div>

	<div class="mp-aboutmp-text">
		<h2>Our spalab gives you an extreme level of relaxation</h2>
		<h3>Come experience the real life situations of saving life</h3>
	</div>

	<div class="hr-line1"></div>
</section>