@import '../../../public/styles/global.scss';

#mphead {
	background-color: #5A386F;
	
	.mp-header-logo {
		position: relative;
		max-width: 1200px;
		margin: 0 auto;
		justify-content: center;

		.figure {
			margin-right: 60px;
			margin-left: 15px;
			padding: 15px 0;
			align-items: center;

			img {
				width: 45px;
				margin-right: 10px;
			}

			.logo-name {
				h2	{
					font-family: 'Lato';
					font-weight: bold;
					color: #fff;
					font-size: 22px;
				}

				p {
					position: relative;
					left: 1px;
					bottom: 2px;
					font-family: 'Lato';
					font-weight: normal;
					font-size: 12px;
					color: #fff;
					white-space: nowrap;
				}
			}
		}

		h1 {
			color: #fff;
			font-family: 'Lato';
			font-weight: normal;
		}

		ul {
			display: flex;

			a {
				white-space: nowrap;
				word-spacing: 2.5px;
				font-family: Lato;
				font-weight: normal;
				text-transform: uppercase;
				color: white;
				border: 2px solid transparent;
				border-radius: 18px;
				padding: 8px 20px;
				margin: 0 5px;
				font-size: 14px;
				cursor: pointer;
				-webkit-transition: all 200ms linear;
				-o-transition: all 200ms linear;
				-moz-transition: all 200ms linear;
				-ms-transition: all 200ms linear;
				-kthtml-transition: all 200ms linear;
				transition: all 200ms linear;
			}

			.products {
				position: relative;

				ul {
					display: none;
					position: absolute;
					left: 0;
					z-index: 100000;
					border: 1px solid #5A386F;
					border-radius: 2px;
					background-color: #5A386F;
					margin-top: 10px;
					padding: 8px 20px 8px 20px;

					li {
						display: block;
						padding: 5px 25px;
						border: 2px solid #5A386F;
						border-radius: 18px;
						text-transform: none;
					}

					li:focus {
						outline: none;
					}

					.product-li:hover {
						border: 2px solid #fff;
					}
				}
			}

			.products:hover {
				ul {
					display: block;
				}
			}


			.active {
				border: 2px solid #fff;
				border-radius: 18px;
			}


			li:hover {
				border: 2px solid #fff;
				border-radius: 18px;
			}
		}

		.collapse-button {
			display: none;
			position: relative;
			border: 2px solid #fff;
			border-radius: 8px;
			padding: 8px;
			margin-left: auto;
			margin-right: 35px;
			z-index: 101;
			cursor: pointer;

			.trait-1, .trait-2, .trait-3 {
				width: 28px;
				height: 2px;
				background-color: #fff;
				margin-bottom: 5px;
				margin-left: auto;
				border-radius: 4px;
			}

			.trait-2 {
				width: 18px;
			}

			.trait-3 {
				width: 24px;
				margin-bottom: 0;
			}
		}

		.collapse-button:hover {
			background-color: #fff;

			.trait-1, .trait-2, .trait-3 {
				background-color: #222;
			}
		}
	}
}

/******************** MOBILE ****************************/
@media only screen and (max-width: 1050px) {
	#mphead {
	
		.mp-header-logo {
			position: relative;
			justify-content: left;
			overflow: none;

			.figure {
				margin-left: 35px;
			}

			ul {
				display: none;
				position: absolute;
				width: 100%;
				right: 0;
				top: 0;
				padding-top: 30px;
				padding-bottom: 35px;
				margin-top: 70px;
				z-index: 100;
				text-align: right;
				background-color: #5A386F;

				a {
					display: block;
				}

				.active {
					border: 2px solid #fff;
					border-radius: 18px;
				}

				li:hover {
					border: 2px solid #fff;
					border-radius: 18px;
				}
			}

			.collapse-button {
				display: block;
			}
		}
	}
}