<header id="mphead">
	<div class="mp-header-logo d-flex-center">
		<a [routerLink]="['/']" class="d-flex figure">
			<img src="public/images/logo/logo.png" alt="company-logo">
			<div class="logo-name">
				<h2>Paris</h2>
				<p>Beauty Institute</p>
			</div>
		</a>

		<ul *ngIf="openNav" [ngStyle]="{'display': openNav === true ? 'block' : 'block' }">
			<a [ngClass]="{ active : isActive === 1 }" (click)="switchActive(1)" [routerLink]="['/']">Trang chủ</a>
			<a [ngClass]="{ active : isActive === 2 }" (click)="switchActive(2)" [routerLink]="['/services']">Dịch vụ</a>
			<a class="products" [ngClass]="{ active : isActive === 3 }" [routerLink]="['/about/products']">Giới thiệu sản phẩm
				<ul class="products-ul">
					<li class="product-li" (click)="switchActive(3)" [routerLink]="['/about/products']">NeoQi</li>
<!-- 					<li class="product-li">Silhouet-Tone</li>
					<li class="product-li">Esti France</li> -->
				</ul>
			</a>
			<a [ngClass]="{ active : isActive === 4 }" (click)="switchActive(4)" [routerLink]="['/about/mparis-global']">Giới thiêu về M.Paris Global</a>
			<a [ngClass]="{ active : isActive === 5}" (click)="switchActive(5)" [routerLink]="['/contact']">Liên hệ</a>
		</ul>

		<div class="collapse-button transition-150" (click)="slideDown()">
			<div class="trait-1 transition-150"></div>
			<div class="trait-2 transition-150"></div>
			<div class="trait-3 transition-150"></div>
		</div>
	</div>
</header>
