<section id="mpld">
	<div class="mp-landing-1">
		<div class="filter"></div>
		<div class="landing-pictures">
			<img class="m-img" src="public/images/landing/woman2.png" alt="main-picture" />
			<img class="s-img1" src="public/images/landing/feather1.png" alt="secondary-picture" />
			<img class="s-img2" src="public/images/landing/feather2.png" alt="secondary-picture" />
			<img class="s-img3" src="public/images/landing/feather3.png" alt="secondary-picture" />
		</div>
		<div class="landing-text align-center">
			<h1>Chìa khoá của sắc đẹp</h1>
			<p>Tự hào là thẩm mỹ viện và spa đầu tiên tại tại Việt Nam được phân phối độc quyền các thiết bị hiện đại và mỹ phẩm cao cấp đến từ Âu, Mỹ. 
			<br />M.Paris sẽ mang lại cho các bạn những trải nghiệm thú vị
			</p>
		</div>
	</div>

	<div class="mp-landing-2">
		<h1>Chào mừng đến M.Paris Spa</h1>
		<p>Trải nghiệm thẩm mỹ cao cấp</p>

		<div class="mp-landing-services d-flex f-wrap">
			<a class="mp-landing-service" [routerLink]="['/services']">
				<figure>
					<div class="image-hover transition-150"><span class="background-text align-center">Xem thêm</span></div>
					<img src="public/images/landing/bloc1-img1.jpg" alt="spa_picture" />
				</figure>
				<h2>Dịch vụ và điều trị</h2>
			</a>

			<a class="mp-landing-service" [routerLink]="['//about/products']">
				<figure>
					<div class="image-hover transition-150"><span class="background-text align-center">Xem thêm</span></div>
					<img src="public/images/landing/bloc1-img2.jpg" alt="spa_picture" />
				</figure>
				<h2>Các loại mỹ phẩm </h2>
			</a>

			<a class="mp-landing-service" [routerLink]="['//about/products']">
				<figure>
					<div class="image-hover transition-150"><span class="background-text align-center">Xem thêm</span></div>
					<img src="public/images/landing/bloc1-img3.jpg" alt="spa_picture" />
				</figure>
				<h2>Thiết bị điều trị</h2>
			</a>

			<a class="mp-landing-service" [routerLink]="['/contact']">
				<figure>
					<div class="image-hover transition-150"><span class="background-text align-center">Xem thêm</span></div>
					<img src="public/images/landing/bloc1-img4.jpg" alt="spa_picture" />
				</figure>
				<h2>Chi tiết liên hệ</h2>
			</a>
		</div>
	</div>

<!-- 	<hr width="150px">
 -->
	<div class="mp-landing-3">
		<h1>Spa & Điều trị</h1>
		<p>Bạn sẽ được chăm sóc hơn mong đợi</p>

		<div class="mp-landing-topcare d-flex f-wrap">
			<div class="mp-landing-topcare-1">
				<div class="topcare-treatment d-flex">
					<img width="125" height="125" src="public/images/catalog2.jpg" alt="topcare-1" />
					<div class="info-price">
						<p>Skin care - Điều trị da</p>
						<a class="price" [routerLink]="['/services']">Xem chi tiết</a>
					</div>
				</div>
				<p class="topcare-about">Chăm sóc và điều trị da với các thiết bị và mỹ phẩm tiêu chuẩn hàng đầu quốc tế.</p>
			</div>

			<div class="mp-landing-topcare-1">
				<div class="topcare-treatment d-flex">
					<img width="125" height="125" src="public/images/catalog1.jpg" alt="topcare-1" />
					<div class="info-price">
						<p>Body care - Chăm sóc da toàn thân</p>
						<a class="price" [routerLink]="['/services']">Xem chi tiết</a>
					</div>
				</div>
				<p class="topcare-about">Điều trị chăm soc da toàn diện, hiện đại Âu, Mỹ. Công nghệ cao - sóng RF - Massage bằng tia nước - Phi thuyền khép kín...</p>
			</div>

			<div class="mp-landing-topcare-1">
				<div class="topcare-treatment d-flex">
					<img width="125" height="125" src="http://bodyxbeauty.com/wp-content/uploads/2012/09/Natural-beauty-Care1.jpg" alt="topcare-1" />
					<div class="info-price">
						<p>Beauty care - Làm đẹp toàn diện</p>
						<a class="price" [routerLink]="['/services']">Xem chi tiết</a>
					</div>
				</div>
				<p class="topcare-about">Trải nghiệm phong cách làm đẹp từ các loại mỹ phẩm, sản phẩm làm đẹp nhập chính hãng từ Pháp.</p>
			</div>
		</div>
	</div>

	<div class="mp-landing-5">
		<h1>MParis - Thẩm mỹ viện cao cấp</h1>
		<p>Đội ngũ nhân viên chuyên nghiệp cùng trang thiết bị hiện đại, mỹ phẩm cao cấp.<br /> MParis là niềm tự hào của thẩm mỹ tại Việt Nam </p>
	
		<div class="ml5-products">
			<div class="ml5-product-1">
				<h2 class="neoqi d-flex">
					<span>Thiết bị thẩm mỹ hiện đại - NeoQi</span>
					<div class="rail"></div>
				</h2>

				<div class="neoqi-products d-flex">
					<img src="public/images/neoqi-landing-01.jpg" alt="neoqi-pictures">
					<img src="public/images/neoqi-landing-02.jpg" alt="neoqi-pictures">
					<img src="public/images/neoqi-landing-03.jpg" alt="neoqi-pictures">
					<img src="public/images/neoqi-landing-04.jpg" alt="neoqi-pictures">
					<img src="public/images/neoqi-landing-05.jpg" alt="neoqi-pictures">
					<img src="public/images/neoqi-landing-06.jpg" alt="neoqi-pictures">
				</div>
			</div>

			<div class="ml5-product-2">
				<h2 class="neoqi d-flex">
					<span>Mỹ phẩm cao cấp từ Pháp</span>
					<div class="rail"></div>
				</h2>

				<div class="cosmetic-products d-flex">
					<img src="public/images/sothys-landing.jpg" alt="sothys-pictures">
					<img class="vita" src="public/images/vitacology-landing.gif" alt="vitacology-pictures">
					<img class="esti" src="public/images/esti-landing.jpg" alt="esti-pictures">
				</div>
			</div>
		</div>
	</div>

	<div class="mp-landing-4">
		<h1>Quá trình chăm sóc</h1>

		<div class="mp-landing-processes d-flex f-wrap">
			<div class="mp-landing-process-1 d-flex">
				<div class="step-1 transition-250"><span>1</span></div>
				<div class="step-1-about">
					<h2>Phân tích</h2>
					<p>Phân tích là một khâu rất quan trọng giúp bạn biết được chính xác tình trạng sức khoẻ, da, cơ thể của mình để có thể lựa chọn được liệu trình điều trị phù hợp nhất.</p>
				</div>
			</div>

			<div class="mp-landing-process-1 d-flex">
				<div class="step-1 transition-250"><span>2</span></div>
				<div class="step-1-about">
					<h2>Tư vấn</h2>
					<p>Sau khi phân tích, chúng tôi sẽ tư vấn, giải thích, và đưa ra những biện pháp điều trị hiện đại để mang lại cho bạn những kiến thức cơ bản và hữu ích.</p>
				</div>
			</div>

			<div class="mp-landing-process-1 d-flex">
				<div class="step-1 transition-250"><span>3</span></div>
				<div class="step-1-about">
					<h2>Điều trị</h2>
					<p>Với các thiết bị, mỹ phẩm hiện đại cao cấp và một đội ngũ chuyên viên thẩm mỹ được đào tạo chuyên nghiệp.</p>
				</div>
			</div>

			<div class="mp-landing-process-1 d-flex">
				<div class="step-1 transition-250"><span>4</span></div>
				<div class="step-1-about">
					<h2>Bảo dưỡng</h2>
					<p>Để luôn được một làn da đẹp mịn màng và hoàn hảo, bão dưỡng là một phần không thể thiếu</p>
				</div>
			</div>
		</div>
	</div>
</section>